@media (orientation: landscape) {
    :root {
        --s: calc(100 * var(--vh) / 20);
        --m: 0.3vw;
        --f: calc(var(--s)*3*1.1547/2 + 4*var(--m) - 2px);
    }
}

@media (orientation: portrait) {
    :root {
        --s: calc((24vh) / 5);
        --m: 0.3vh;
        --f: calc(var(--s)*3*1.1547/2 + 4*var(--m) - 2px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    animation: fadeIn 1s;
}

:root {
    --yellow: #FFECCA;
    --dark-yellow: #f1cf92;
    --pink: #FFACAC;
    --blue: #B9DBD7;
}

.bee {
    cursor: grab;
}

div {
    -webkit-touch-callout: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    color: #222;
    background-color: var(--yellow);
    touch-action: pan-y, pan-x;
    font-family: 'Varela Round';
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pop-up {
    max-width: 98vw;
    position: fixed;
    z-index: 1;
    text-align: center;
    box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 4em;
    line-height: 0px;
    color: var(--dark-yellow);
    font-weight: normal;
}

h2 {
    font-size: 1em;
    margin-top: -0.2em;
    opacity: 0.7;
    line-height: 0px;
}

h3 {
    font-weight: normal;
    font-size: unset;
}

#game-over {
    display: none;
}

.game {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#canvas-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 0;
    padding: var(--s);
}

.hexagon div {
    position: absolute;
    font-size: 2em;
    width: var(--s);
    height: calc(var(--s) + 0.4vw);
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas {
    width: calc((2 * var(--m) + var(--s)) * 5);
}

#canvas .hexagon, .deck .hexagon {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s)*1.1547);
    /*  = 1/cos(30)  */
    display: inline-block;
    font-size: initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    background: var(--dark-yellow);
    margin-bottom: calc(var(--m) - var(--s)*0.2885);
    /* = tan(30)/2 */
    font-size: calc(var(--s) * 0.4);
    padding-top: calc(var(--s) * 0.3 + var(--m) * 0.5);
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

#canvas::before {
    content: "";
    width: calc(var(--s)/2 + var(--m));
    float: left;
    height: 100%;
    shape-outside: repeating-linear-gradient( #0000 0 calc(var(--f) - 3px), #fff 0 var(--f));
}

.hexagon#hidden {
    opacity: 0;
    cursor: context-menu;
}

.game span:nth-of-type(2) {
    padding: 10px;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: none;
    margin: 10px;
    padding: 10px 20px;
    width: 95%;
    border: 1px solid #222;
    outline: none;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

#bee-player {
    height: 200px;
    margin-bottom: -60px;
}

#bottom-text {
    opacity: 0;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#winner {
    font-size: 1.5em;
}

::-moz-selection {
    background: var(--dark-yellow);
}

::selection {
    background: var(--dark-yellow);
}